__pycache__/
*.pyc
*.pyo
*.log

venv/
.env
.env.*

*.sqlite3
*.db
*.log
logs/
*.pid
*.seed

.idea/

.vscode/

*.sock
gunicorn_error.log
gunicorn_access.log

docker-compose.override.yml
*.dockerfile

.ipynb_checkpoints/

.DS_Store
Thumbs.db
